<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">
        <img src="../../../../assets/images/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 300px;">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/characters">Personajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/students">Estudiantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/staff">Profesores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/requests">Solicitudes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/docs">Documentación</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>